header {
    margin: 1em 0;
}

button {
    background-color: hsla(210, 100%, 79%, 1);
    border: thin solid black;
    border-radius: 1rem;
    cursor: pointer;
    font-size: medium;
    margin: 0 1rem;
    padding: .4em .8em;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

.active:before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 5px;
    display: inline-block;
    background-color: black;
    vertical-align: middle;
}

.errorSmall {
    color: red;
    font-size: small;
    overflow-wrap: break-word;
}

.errorMedium {
    color: red;
    font-size: medium;
    overflow-wrap: break-word;
}

.formContainer {
    width: 25%;
}

.label {
    width: 8rem;
    display: inline-block;
}

.previous_disabled,
.next_disabled {
    cursor: not-allowed;
    pointer-events: none;
    color: #c0c0c0;
    background-color: #ffffff;
}

.label, .textField {
    display:flex;
}

.lineForm {
    margin-top: 1rem;
    box-sizing: border-box;
    width: 100%;
}

.textField {
    width: inherit;
    height: 4vh;
    font-size: medium;
    border: 2px solid gray;
    margin-top: .2rem;
    box-sizing: border-box;
}

.calendar {
    width: 30%;
  }

@media screen and (max-width: 600px) {
    body .calendar, body .listings .calendar {
        width: 100%;
    }
    
    body .formContainer {
        width: 100%;
    }
    
} 
